@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --dark-color: #111;
    --light-color: #eee;
    --accent-color: #0af;
  }
  
  body {
    background-image: url('/NFT_Marketplace_Background.jpg');
    font-family: 'Roboto', sans-serif; /* Replace with your font of choice */
    background-color: var(--dark-color);
    color: var(--light-color);
  }